{% extends 'layout.html' %}
				
{% block index %}				
<div style="background: url(/img/memes.jpg); width: 100%; height: 130%; margin-top: -40px">
	<div class="background">
		<div class="site-wrapper">
			<div class="site-wrapper-inner">
				<div class="cover-container">
					<header class="masthead clearfix">
						<div class="inner">
							<h3 class="masthead-brand">
								<img src="/img/favicon.ico" style="width: 80px; height: 90px; margin-top: -40px;">
								Got our Memes</h3>
							<nav class="nav nav-masthead">
								<a class="nav-link active" href="/">Home</a>
								<a class="nav-link" href="/gallery">Gallery</a>
								<a class="nav-link" href="/login">Sign In</a>
							</nav>
						</div>
					</header>
					
					<main role="main" class="inner cover" style="position: relative;">
						<h1 class="cover-heading">Welcome, to the Memes Gallery!</h1>
						<p class="lead" style="color: #fff">Within this page, you can post, create or edit your pictures so you can create it as memes. C'on down and sign up so you can share in real-time your proyect with other users and also download their pictures from their gallery and also others can do it! <br>
						Sign up and start to create and upload your own memes!</p>
						<p class="lead">
							<a href="/registry" class="btn btn-lg btn-warning">Sign Up</a>
						</p>
					</main>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
					<footer class="mastfoot">
						<div class="inner">
							<p><small> This page has been inspired by the <a href="https://getbootstrap.com/" style="color: tomato">Bootstrap</a> Templates. <br>
							localhost website has been made by <a href="https://twitter.com/AndlerRL" style="color: tomato">@Andler</a>.</small></p>
						</div>
					</footer>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

