{% extends 'layout.html' %}

{% block gallery %}
<div style="background: url(/img/memes.jpg); width: 100%; height: 130%; margin-top: -40px">
    <div class="background">
            <div class="site-wrapper" style="margin-top: -40px; height: 100%; padding-left: 0;">
                    <header class="col-md-12" style="background-color: #050505;">
                        <div class="navbar navbar-dark bg-dark" style="width: auto; background-color: #050505;">
                            <div class="container d-flex justify-content-between" style="background-color:#050505">
                                <img src="/img/favicon.ico" style="width: 80px; height: 90px;">
                                <span class="navbar-brand text-left" style="position: relative; left: -15.1%;">Got our Memes</span>
                                <span class="text-right" style="right: -15%; position: relative">Hi, {{user}}!</span>
                                <a href="/" class="btn btn-danger">
                                    <span>
                                        <img src="/img/log-out.png" alt="">
                                    </span> Sign out
                                </a>
                            </div>
                        </div>
                    </header>

                    <main role="main" class="col-md-10 offset-1">
                        <section class="jumbotron text-center" style="border-top-right-radius: 0; border-top-left-radius: 0; border-bottom-left-radius: 0; border-bottom-right-radius: 0; background-color: rgb(0, 255, 115);">
                            <div class="container" id="upload">
                                <h1 class="jumbotron-heading" style="font-weight: 300">Upload your Meme</h1>
                                <p class="lead" style="color: #000; font-weight: 400;">As normal, upload a cool picture for a meme, so other or you can edit it, in real-time!</p>
                                <form action="/upload" method="POST" enctype="multipart/form-data" id="frmUpload">
                                    <div class="form-group">
                                        <input type="file" name="inpUpload" id="inpUpload" class="btn btn-default" accept="image/*" required> 
                                        <input type="submit" class="btn btn-lg btn-default" id="inpSendImg" name="inpSendImg"> <br>
                                        <a href="/gallery" class="btn btn-lg btn-danger" style="margin-top: 50px;">Return</a>
                                    </div>
                                </form>
                            </div>
                        </section>
                        </div>
                    </main>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}