* {
  transition: .33s cubic-bezier(0.075, 0.82, 0.165, 1) all;
}

.navbar {
  margin-bottom: 0;
}

.jumbotron {
  padding: 6rem;
  margin-bottom: 0;
  background-color: #ddd;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 320;
}

h1.jumbotron-heading {
  color: #333;
  text-shadow: none;
}

p.lead, p.text-muted {
  color: #111;
  text-shadow: none;
}

.jumbotron .container {
  max-width: 40rem;
}

.album {
  min-height: 100% !important; /* Can be removed; just added for demo purposes */
  padding: 3rem;
  background-color: #f7f7f7;
}

.card_album {
  width: 100%;
  margin: 0 0 .75em 0;
  padding: .5rem;
  border: transparent;
  border-radius: 2px;
  box-shadow: 0 4px 8px 2px rgba(30,30,30,.3); 
}

.card_album2 {
  width: 30%;
  display: -ms-inline-grid;
  flex-direction: column;
}

.card > img {
  margin-bottom: .75rem;
}

.card-text {
  font-size: 85%;
}

.green-background {
  background: url("../img/solid-green-background.jpg") no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

footer {
  padding: 3rem;
}

footer p {
  margin-bottom: .25rem;
}
